@model IEnumerable<TravelGuide.TOURIST_SPOTS>

<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Tourist Spot</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, </p>
        </div>
        <div class="testimonial_slider owl-carousel">
            @foreach (var item in Model)
            {
                <div class="media testimonial_item">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="@Url.Content(item.IMAGE_TOURIST_SPOTS)" style="width: 263px; height: 270px" alt="">
                            <a href="@Url.Action("DetailTouristSpot", "Home", new { id=item.ID_TOURISTSPOT })" class="btn theme_btn button_hover">View Detail</a>
                        </div>
                        <a href="@Url.Action("DetailTouristSpot", "Home", new { id=item.ID_TOURISTSPOT })"><h4 class="sec_h4">@Html.DisplayFor(modelItem => item.NAME_TOURISTSPOT)</h4></a>
                        
                    </div>
                    <div class="media-body">
                        <p>@Html.DisplayFor(modelItem => item.INTRODUCE_TOURIST_SPOTS)</p>
                        <div class="star">
                            <p>
                                Rate: @Html.DisplayFor(modelItem => item.QUALITY_TOURISTSPOT) <a><i class="fa fa-star"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>